body{
	height: 100%;
	width: 100%;
position: relative;
font-family: kabel;

background-position:fixed;
}




.header
{   
    
	height: 120px;
	width: 100%;
	margin-top: -1px;
	margin-left: -1px;
	margin-right: 1px;	
	background-color:orange;
	border-radius: 
	opacity: 1.0;
font-weight: bold;
box-shadow: 10px 10px 10px 1px ;
font-size: 50;                                        /*overflow: hidden;*/
 
 text-align: center;

}

#names h1 
{height: 30px;
	margin-left: 500px;  
	margin-top: -480px;
	text-align: center; 
	width:330px;
 border-radius: 10px; 
	box-shadow: 5px 10px 10px 1px;color: rgb(23,140,191);
}

#names h4
{
	height: 30px;
	margin-left: 500px;  
	text-align: center; 
	width:330px;
 border-radius: 10px; 
	box-shadow: 5px 10px 10px 1px;color: rgb(23,140,191);
}

#foto img
{ 
  height:310px;
	width: 30%;
	opacity: 1.0;
	margin-left: 450px;
	box-shadow: 15px 10px 10px 2px  ;
	margin-top: 40px;
   border-radius: 40px 10px;
animation: foto 2.5s linear;

}
@keyframes foto {

	0%{
		
		opacity: 0.5;

	}
	30%
	{
		
		opacity:0.7;
	}
	50%
	{
		
		opacity:2;
	}
	
	
	100%
	{
		
		opacity:1;
	}
}
.header ul
{	float: center;
	margin-top:74px;
	margin-right: 50px;
text-align: center;
}

.header ul li
{
position: fixed;
	display: inline;
	margin-right: 25px;
	position: relative;
	text-align: center;
}


.header ul li a 
{ 

   font-size: 20px;
	color: black;
	text-decoration: none;
	transition: all 0.3s;

}

.sub-menu-1
{
	display: none;
}

nav{
	background: transparent;
   width: 100%;
	height: 250px;
}
label.logo
{
	color: white ;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}

nav ul
{
	float: right;
	margin-top: 10px;
	margin-right: 20px;
	

}
nav ul li
{
	display: inline;
	padding-right: 20px;
}

nav ul li a 
{
	margin-top:10px;
	color: white;
	font-size: 18px;
	text-transform: unset;


	border-radius: 4.5px;

}
a:hover
{
	background:transparent;

	transition: 0.3s;
}

.checkbtn
{
	font-size:30px;

	color:white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check
{
	float: right;
	display: none;
	
}

#invention p
{font-size: 30px;
	height: 50px;
	width: 20%;
	text-align: center;
	margin-left: 550px;
		box-shadow: 0px 1px 5px 0px;
	border-radius: 5px;
}

#patentbox
{
	height:350px;
clear: right;
	
background-color: ;



}
#box1

{/*#313131*/;
	height: 200px;
	
    border-radius: 5px;
   border-style: outset;
   
float: center;
width: 25%;
margin-top: %;
margin-right: 2%;
margin-left: 1%;
margin-bottom:25px;
overflow:hidden;


}

#pantent 
{   
	font-size:20px;
	font-color:blue;
height: 200px;
width:75%;
margin-top: -25%;
margin-right: -2px;
margin-left: 330px;
margin-bottom:200px;
padding:10px;		
	float: center;
	font-weight: bold;
}

#pantent iframe
{
	float:center;
	margin-top:-10px;
	margin-left:320px;
	border-radius: 15px;
	box-shadow: 5px 10px 10px 5px red;
}

#box1 figure
	{
		position: relative;
		height:550px;
		width:477%;
		margin-top: -20%;
		margin: 0px;
		text-align: center;
		padding: 0px;
		right: 0;

		animation: 15s slider infinite;
	}
	#box1 figure img
	{
		width: 21%;
		float:left;
	}
@keyframes slider
{
	0%
	{
		left: 0%;
	}

20%
{
	left: 0%;
}

25%
{
	left: -100%;
}
45%
{
	left: -100%;
}

50%
{
	left: -200%;
}
70%
{
	left: -200%
}
75%
{
	left: -300%
}
95%
{
	left:-300% 
}

}




#pantent p
{color: white;
	font-size:25px;
	float:right;
	text-align: center;

}



#excelshow
{
	height: 400px;
	width: 100%;
}

#excelstock img
{
	width: 70%;
	height: 300px;
	object-fit: cover;
	transition: 0.5s;
	margin-left:10%;
	border-radius: 5px;
	border-style: outset;
}



#para1 p
{
	color:white;
font-weight: bold;
font-size: 20px;
float: left;
height: 50px;

}
#excel
{
	clear:left;
	height: 300px;
	width: 100%;
	float: left;
	display:flex;
	margin: 5% auto 0;
	box-sizing: border-box;
margin-bottom: 50px;
	overflow: none;
	
}
#excelstock
{

	margin: 0 1%;
	flex-basis: 0;
	flex-grow: 10;
	transition: 0.5s;
margin-right: 40px;

}


#excelstock:hover
{
	flex-basis: 90%;
	 

}



#excelshow2
{
	height:600px;
	width: 100%;
}


#para2 p
{
	color:white;
font-weight: bold;
font-size: 20px;
float: right;
height: 50px;

}

#excelie img
{
	width: 70%;
	height: 300px;
	object-fit: cover;
	transition: 0.5s;
	margin-left:10%;
	border-radius: 5px;
	border-style: outset;
}

#excelpl
{clear: left;
	height: 300px;
	width: 100%;
	display:flex;
	margin: 5% auto 0;
	box-sizing: border-box;
	overflow: none;
	float: right;
	margin-bottom: 20px;
	
}
#excelie
{

	margin: 0 1%;
	flex-basis: 0;
	flex-grow: 10;
	transition: 0.5s;
float: right;
margin-right: 40px;


}


#excelie:hover
{
	flex-basis: 90%;
	 

}


#typing
{
	height:200px;
	width:300px;
	clear: right;
}


#typing img
{
	float: center;
	height:200px;
	width: 100%;
	margin-left:6%;
	border-radius: 5px;
	border-style: outset;
}

#typing p
{
	float :left;
	color: white;
	font-size: 20px;
	font-weight: bold;
	width: 120%;
   margin-left: 500PX;
   margin-top:-43%;
   

	 
}


#extra
{
	height:300px;
clear: right;
	
background-color: ;



}
#box2

{/*#313131*/;
	height: 200px;
	
    border-radius: 5px;
   border-style:
   
float: center;
width: 25%;
margin-top: %;
margin-right: 2%;
margin-left: 1%;
margin-bottom:25px;
overflow:hidden;


}

#box2 figure
	{background-color: black;
		position: relative;
		height:250%;
		width:477%;
		margin-top: -20%;
		margin: 0px;
		padding: 0px;
		right: 0;

		animation: 6s sliders infinite;
	}
	#box2 figure img
	{
		width: 21%;
		float:left;
	}
@keyframes sliders
{
	0%
	{
		left: 0%;
	}

20%
{
	left: 0%;
}

25%
{
	left: -100%;
}
45%
{
	left: -100%;
}

50%
{
	left: -200%;
}
70%
{
	left: -200%
}
75%
{
	left: -300%
}
95%
{
	left:-300% 
}

}

#extrapara
{clear: left;
	float: right;
	height: 200px;
	width:50%;
	margin-top: -190px;
	margin-right: 150px;
}

#extrapara p
{
	color: white;
	font-size: 20px;
	font-weight: bold;
}


#contact
{  clear:both;
	height: 300px;
	width: 100%;
	margin-left: 10px;
	font-weight: bold;
	font-size: 18px;
text-decoration: none;
size: 30px;
}


#facebook i: hover
{
	opacity:0.2;
}




#footer

{   height: 20px;
	width: 100%;
	margin-top: 100px;
	clear: both;
	border-radius: 2px;
	margin-bottom : -250px;
margin-right: 25PX;
	padding: px;
   height: px;
	color: white;
	background-color: black;
	 	font-size: 15px;
	font-family: Algerian;
}

#footer h3
{
	margin-left: 568px;
margin-top: -10px;
}





.header ul li a:hover 
{
	font-size: 20px;
	color: white;

	text-decoration: none;

}

.header ul li:hover .sub-menu-1
{
	display: block;
	position: absolute;
left: 0;
top: 100%;
background-color:orange;
	
}

 .header ul li:hover .sub-menu-1 ul
{
	display: block;
	margin: 10px;
}

.header ul li:hover .sub-menu-1 ul li
{
	width: 100%;
	padding: 5px;

}


 

/*

#box1:hover
{
	opacity: 1;
	 background-color: ;
	 text-align: center;
	
	 border-style: outset; 
	 overflow: hidden;

margin-bottom: 50px;
}

#box2:hover

{
    background-color: ;
	 text-align: center;
	 color: #e12d2e;
	 border-style: outset; 
	 overflow: hidden;
opacity: 1.0;
margin-bottom: 50px;
}

#box3:hover
{opacity: 1.0;   
 background-color: ;
	 color: #e12d2e;
	 text-align: center;
margin-bottom: 50px;
	 border-style: outset; 
    overflow: hidden;
}

#box1 a:hover 
{
border:	3.5px outset;
	
	color: white;

}

#box2 a:hover 
{
border:	3.5px outset;
	
	color: white;

}*/

#image img:hover
{
	opacity: 0.9;
}

}}


@media ( max-width: 952px)
{
	label.logo
	{  padding-right: 125px;
		font-size: 30px;
		padding-left: 50px;

	}
nav ul li a 
{
	font-size: 16px;
}



}

@media (max-width: 858px)
{


   --header-height: 100px;
    --header-sticky-height: 60px;
	body
	{
		background-color: ;
		background-attachment: 100%;
		
	background-position: fill;
    background-attachment: ;
    background-size: 2000px;
    background-repeat: 
	}

#top
{
	position: ;
		height:2px; 
	margin:-7.5px;
	width: 100%;
	background-color:black;
border-radius:4px;
}


  #container
  {
  	height: 800px;
  	width: 100%;
  }
.header
{position: absolute;
height: 100px;
	width: 96.5%;
	margin-top: 9px;
	margin-left: -1px;
	margin-right: -1px;	
	background-color:orange;
	border-radius: 
	opacity: 1.0;
box-shadow: 10px 10px 10px 1px ;

}

#names h1 
{height: 30px;
	margin-left: 50px;  
	margin-top: -470px;
	text-align: center; 
	width:330px;
 border-radius: 10px; 
	box-shadow: 5px 10px 10px 1px;color: rgb(23,140,191);
}

#names h4
{
	height: 30px;
	margin-left: 50px; 
	margin-top:0px; 
	text-align: center; 
	width:330px;
 border-radius: 10px; 
	box-shadow: 5px 10px 10px 1px;color: rgb(23,140,191);
}
#foto img
{ 
  height:150px;
	width: 30%;
	opacity: 1.0;
	margin-left: 130px;
	box-shadow: 15px 10px 10px 2px  ;
	margin-top: 10px;
   border-radius: 40px 10px;
animation: foto 2.5s linear;
margin-bottom: 90px;
}


	.check
	{
		display:block;
		size:20px;
	}
	.checkbtn
	{
		display:block; 
		font-size: 20px;
	}
	nav ul
	{
		position:absolute; 
		width: 92%;
		height:50vh;
		background: orange;
		border-radius: 10px;
		display:block;
		top: -700px;
		text-align: center;
		transition: all 0.5s;
	}
	nav ul li{
		margin-top: 5px;
		display:  block;
		 padding-top: 40px; 
		 padding-left:1px;
	}
	nav ul li a 
	{
		display:block;
     font-size: 20px;


	}
	a:hover
	{
		background: green;
		color:red;
	}
	
#check:checked~ul
	{
		top: 70px;
height: 440px;
background:;
	}



#patentbox
{
	height:50px;
clear: right;
}
#box1

{/*#313131*/;
	height: 160px;
    border-radius: 5px;
   border-style: outset;
   
float: center;
width: 50%;
margin-top: %;
margin-right: 20%;
margin-left: 20%;
margin-bottom:25px;
overflow:hidden;


}

#pantent 
{   
	font-size:5px;
	font-color:;
height: 250px;
width:100%;
margin-top: 20%;
margin-left: -20px;
margin-bottom:200px;
padding:15px;		
	float: left;
	font-weight: bold;
}

#invention p
{font-size: 30px;
	height: 40px;
	width: 210px;
	margin-left: 125px;
	text-align: center;
	box-shadow: 0px 1px 5px 0px;
	border-radius: 5px;
}

#pantent iframe
{
	float:center;
	margin-top:-10px;
	margin-left:90px;
	border-radius: 15px;
	background: white;
	box-shadow: 5px 10px 10px 5px red;
}

#box1 figure
	{
		position: relative;
		height:150%;
		width:477%;
		margin-top: -20%;
		margin: 0px;
		padding: 0px;
		right: 0;

		animation: 15s slider infinite;
	}
	#box1 figure img
	{
		width: 21%;
		float:left;
	}
@keyframes slider
{
	0%
	{
		left: 0%;
	}

20%
{
	left: 0%;
}

25%
{
	left: -100%;
}
45%
{
	left: -100%;
}

50%
{
	left: -200%;
}
70%
{
	left: -200%
}
75%
{
	left: -300%
}
95%
{
	left:-300% 
}

}




#pantent p
{color: white;
	font-size:20px;
	float:left;
	text-align:center;

}



#excelshow
{
	height: 400px;
	width: 100%;
}

#excelstock img
{
	width: 70%;
	height: 300px;
	object-fit: cover;
	transition: 0.5s;
	margin-left:10%;
	border-radius: 5px;
	border-style: outset;
}



#para1 p
{
	color:white;
font-weight: bold;
font-size: 20px;
float: left;
height: 50px;

}
#excel
{
	clear:left;
	height: 300px;
	width: 100%;
	float: left;
	display:flex;
	margin: 5% auto 0;
	box-sizing: border-box;
margin-bottom: 50px;
	overflow: none;
	
}
#excelstock
{

	margin: 0 1%;
	flex-basis: 0;
	flex-grow: 1;
	transition: 0.5s;
margin-right: 1px;

}


#excelstock:hover
{
	flex-basis: 100%;
	 

}



#excelshow2
{
	height:600px;
	width: 100%;
}


#para2 p
{
	color:white;
font-weight: bold;
font-size: 20px;
float: right;
height: 50px;

}

#excelie img
{
	width: 70%;
	height: 300px;
	object-fit: cover;
	transition: 0.5s;
	margin-left:10%;
	border-radius: 5px;
	border-style: outset;
}

#excelpl
{clear: left;
	height: 300px;
	width: 100%;
	display:flex;
	margin: 5% auto 0;
	box-sizing: border-box;
	overflow: none;
	float: right;
	margin-bottom: 20px;
	
}
#excelie
{

	margin: 0 1%;
	flex-basis: 0;
	flex-grow: 1;
	transition: 0.5s;
float: right;
margin-right: 1px;


}


#excelie:hover
{
	flex-basis: 100%;
	 

}


#typing
{
	height:300px;
	width:300px;
	clear: right;
}


#typing img
{
	float: center;
	height:200px;
	width: 100%;
	margin-left:22%;
	border-radius: 5px;
	border-style: outset;
}

#typing p
{
	float :center;
	color: white;
	font-size: 20px;
	font-weight: bold;
	width: 100%;
   margin-left: 70px;
   margin-top:13%;
   

	 
}


#extra
{
	height:240px;
width: 300px;



}
#box2

{/*#313131*/;
	height: 200px;
	
    border-radius: 5px;
   border-style: outset;
   
float: center;
width: 100%;
margin-top: %;
margin-right: 2%;
margin-left: 25%;
margin-bottom:25px;
overflow:hidden;


}

#box2 figure
	{
		position: relative;
		height:150%;
		width:477%;
		margin-top: -20%;
		margin: 0px;
		padding: 0px;
		right: 0;

		animation: 6s sliders infinite;
	}
	#box2 figure img
	{
		width: 21%;
		float:left;
	}
@keyframes sliders
{
	0%
	{
		left: 0%;
	}

20%
{
	left: 0%;
}

25%
{
	left: -100%;
}
45%
{
	left: -100%;
}

50%
{
	left: -200%;
}
70%
{
	left: -200%
}
75%
{
	left: -300%
}
95%
{
	left:-300% 
}

}

#extrapara
{clear: left;
	float: center;
	height: 200px;
	width:100%;
	margin-top: 20px;

}

#extrapara p
{
	width: 110%;
	color: white;
	font-size: 20px;
	font-weight: bold;
	margin-left: 230px;
}


#contact
{  clear:both;
	height: 300px;
	width: 100%;
	margin-left: 10px;
	font-weight: bold;
	font-size: 18px;
text-decoration: none;
size: 30px;
}


#facebook i: hover
{
	opacity:0.2;
}





#footer

{
 
 size: 100%;
	clear: both; 
	border-radius: 4px;
	margin-top: : 100px;
	padding: 10px;
   height: 10px;
	color: black;

	background-color: black;
	
	font-size: 15px;
   
	font-family: Algerian;
}

#footer h3
{color: white;
	margin-left: 268px;
margin-top: -10px;
}



}







